<form action="<%= url("/save") %>" method="POST">
    <input type="text" name="title">
    <textarea name="content"></textarea>
    <button type="submit">Save</button>
</form>

<a href="<%= url("/") %>">Back to list</a>